/* Aileron  Black */

@font-face {
  font-family: 'Aileron-Black';
  src: url('Aileron-Black.otf');
  src: local('☺'), url('Aileron-Black.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron  BlackItalic */

@font-face {
  font-family: 'Aileron-BlackItalic';
  src: url('Aileron-BlackItalic.otf');
  src: local('☺'), url('Aileron-BlackItalic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron Bold */

@font-face {
  font-family: 'Aileron-Bold';
  src: url('Aileron-Bold.otf');
  src: local('☺'), url('Aileron-Bold.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-BoldItalic */

@font-face {
  font-family: 'Aileron-BoldItalic';
  src: url('Aileron-BoldItalic.otf');
  src: local('☺'), url('Aileron-BoldItalic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-Heavy */

@font-face {
  font-family: 'Aileron-Heavy';
  src: url('Aileron-Heavy.otf');
  src: local('☺'), url('Aileron-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-HeavyItalic */

@font-face {
  font-family: 'Aileron-HeavyItalic';
  src: url('Aileron-HeavyItalic.otf');
  src: local('☺'), url('Aileron-HeavyItalic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-Italic */

@font-face {
  font-family: 'Aileron-Italic';
  src: url('Aileron-Italic.otf');
  src: local('☺'), url('Aileron-Italic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-Light */

@font-face {
  font-family: 'Aileron-Light';
  src: url('Aileron-Light.otf');
  src: local('☺'), url('Aileron-Light.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-LightItalic */

@font-face {
  font-family: 'Aileron-LightItalic';
  src: url('Aileron-LightItalic.otf');
  src: local('☺'), url('Aileron-LightItalic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-Regular */

@font-face {
  font-family: 'Aileron-Regular';
  src: url('Aileron-Regular.otf');
  src: local('☺'), url('Aileron-Regular.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-SemiBold */

@font-face {
  font-family: 'Aileron-Black';
  src: url('Aileron-Black.otf');
  src: local('☺'), url('Aileron-Black.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-SemiBoldItalic */

@font-face {
  font-family: 'Aileron-SemiBoldItalic';
  src: url('Aileron-SemiBoldItalic.otf');
  src: local('☺'), url('Aileron-SemiBoldItalic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-Thin */

@font-face {
  font-family: 'Aileron-Thin';
  src: url('Aileron-Thin.otf');
  src: local('☺'), url('Aileron-Thin.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-ThinItalic */

@font-face {
  font-family: 'Aileron-ThinItalic';
  src: url('Aileron-ThinItalic.otf');
  src: local('☺'), url('Aileron-ThinItalic.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-UltraLight */

@font-face {
  font-family: 'Aileron-UltraLight';
  src: url('Aileron-UltraLight.otf');
  src: local('☺'), url('Aileron-UltraLight.otf');
  font-weight: 900;
  font-style: normal;
}

/* Aileron-UltraLightItalic */

@font-face {
  font-family: 'Aileron-UltraLightItalic';
  src: url('Aileron-UltraLightItalic.otf');
  src: local('☺'), url('Aileron-UltraLightItalic.otf');
  font-weight: 900;
  font-style: normal;
}
